  #left { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 200px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 0px 10px 20px 5px; /* Значения отступов */
   }
     #right { /* Правая колонка */
	width:200px;
    margin: 25px 10px 20px 225px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
   }
   #EditButton{
   width:200px;
   
   }